


#webcam-container { 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; }

#prediction {
    position: fixed;       
    bottom: 0;           
    left: 0;     
    width: 100%;
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
    z-index: 1000;
    padding: 10px 0;
}

html, body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-wrapper {
    position: fixed;
    inset:0;
}

#webcam-container {
    position: absolute;
    inset:0;
    z-index: 1;
}

#image-display {
    position: absolute;
    inset: 0;
    z-index:2;
    pointer-events:none;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-display img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prediction {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:green;
    color: white;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
    padding: 10px 0;
}
